<div class="container-fluid row">
    <div class="list-group col-xs-12 col-md-3">
        <a [routerLink]="['alert']" class="list-group-item list-group-item-action" routerLinkActive="active">Alerts</a> 
        <a [routerLink]="['button']" class="list-group-item list-group-item-action" routerLinkActive="active">Buttons</a> 
        <a [routerLink]="['textbox']" class="list-group-item list-group-item-action" routerLinkActive="active">Textbox</a> 
        <a [routerLink]="['select']" class="list-group-item list-group-item-action" routerLinkActive="active">Select</a>         
    </div>
    <div class="col-xs-12 col-md-9">
        <router-outlet></router-outlet>            
    </div>
</div>