
<form (ngSubmit)="onSubmit()" [ngClass]="{'was-validated': wasValidated === true }" novalidate>
        <div class="row">
                <div class="border border-primary col-8">
                        Test
                </div>
                <div class="border border-success col-4">
                        Test
                </div>
        </div>
        <div>
                <h5>Fields with feedback</h5>
                <div class="row">
                        <text-box id="txtName" caption="Name" class="col-8"  maxLength="10" [isRequired]="true" [hintRequired]="true" [(inputModel)]="data1"  >
                        </text-box>
                        <text-box id="txtMobile" caption="Mobile"  class="col-4" maxLength="10" [isRequired]="true" [hintRequired]="true" [(inputModel)]="data2" icon="fa-mobile" >
                        </text-box>
                </div>

        </div>


        <div>
                <h5>Fields without feedback</h5>

                <text-box id="txtName1" caption="Name" maxLength="10" [isRequired]="true" [hintRequired]="true" [(inputModel)]="data1" [hideFeedback]="true"  >
                </text-box>
                <text-box id="txtMobile1" caption="Mobile" maxLength="10" [isRequired]="true" [hintRequired]="true" [(inputModel)]="data2"  [hideFeedback]="true">
                </text-box>
        </div>


        <div>
                <h5>Fields (readonly)</h5>

                <text-box id="txtReadOnly" caption="Text" maxLength="10"[(inputModel)]="data3" [readonly]="true"  >
                </text-box>
        </div>

        <div>

            <h5>Textarea</h5>

            <text-box id="txtComments" caption="Comments" maxLength="200" [(inputModel)]="comments" isMultiLine="true"  >
            </text-box>

        </div>

        <div class="form-buttons mt-2">
                <button type="submit" class="btn btn-success">Submit</button>
        </div>

</form>

