<div class="col-12">
    <label>{{ caption }}</label>
    <span class="text-danger ml-1" *ngIf="isRequired === true && hintRequired === true">*</span>
    <div>

      <div class="col-12 readonly-label"  *ngIf="readonly" >
          <span class="form-control-readonly" #valuelabel>
              {{inputModel}}
          </span>

          <a role="button" [copy-clipboard]="inputModel" (copied)="notify($event)" class="clipboard" tooltip="Copy to Clipboard">
              <i class="fa fa-clipboard"></i>
          </a>
      </div>


        <div class="input-group col-12" *ngIf="!readonly && !isMultiLine">

            <div class="input-group-prepend" *ngIf="icon!== undefined && icon!=''">
                <span class="input-group-text"><i class="fas {{icon}}"></i></span>
            </div>

            <input #textbox="ngModel" [id]="id" type="text" class="form-control" [placeholder]="caption"
            [(ngModel)]="inputModel" (ngModelChange)="onTextChange()" [maxlength]="maxLength"
            [required]="isRequired === true ? '' : null"
            [ngClass]="{'invalid': !textbox.valid, 'valid': textbox.valid }">

            <div *ngIf="(textbox.invalid && hideFeedback === false)" class="invalid-feedback">
                <div *ngIf="(textbox.errors.required)">{{ caption }} is required</div>
                <div *ngIf="(textbox.errors.maxlength)">{{ caption }} should be {{ textbox.errors.maxlength.requiredLength }} characters long </div>
            </div>
        </div>


        <div class="input-group  col-12" *ngIf="!readonly && isMultiLine">
            <textarea #textarea="ngModel" [id]="id" class="form-control"
            [(ngModel)]="inputModel" (ngModelChange)="onTextChange()" [maxlength]="maxLength"
            [required]="isRequired === true ? '' : null"
            [ngClass]="{'invalid': !textarea.valid, 'valid': textarea.valid }">

            </textarea>


            <div *ngIf="(textarea?.invalid && hideFeedback === false)" class="invalid-feedback">
                <div *ngIf="(textarea?.errors.required)">{{ caption }} is required</div>
                <div *ngIf="(textarea?.errors.maxlength)">{{ caption }} should be {{ textarea?.errors?.maxlength.requiredLength }} characters long </div>
            </div>
        </div>


      </div>
  </div>
